<div class="content">
	<div class="content-produits">
		<h1>Liste des produits :</h1>
		@if (isLoading) {
		<ng-container>
			<mat-spinner></mat-spinner>
		</ng-container>
		}

		@for (produit of produits;track $index) {
		<mat-card>
			<mat-card-header>
				<mat-card-title>{{produit.libelle}}</mat-card-title>
				<mat-card-subtitle>{{produit.prix_unitaire}} €</mat-card-subtitle>
			</mat-card-header>
			<img mat-card-image src="{{produit.image_url}}">
			<mat-card-content>
				<p>{{produit.description}}</p>
			</mat-card-content>
			<mat-card-actions>
				<button mat-icon-button matTooltip="Basic" aria-label="Example icon-button with a heart icon">
					<mat-icon>remove</mat-icon>
				</button>
				1
				<button mat-icon-button matTooltip="Basic" aria-label="Example icon-button with a heart icon">
					<mat-icon>add</mat-icon>
				</button>
				<button mat-icon-button matTooltip="Basic" aria-label="Example icon-button with a heart icon">
					<mat-icon>add_shopping_cart</mat-icon>
				</button>
			</mat-card-actions>
		</mat-card>
		}
		<mat-paginator [length]="totalItems" [pageSize]="pageSize" (page)="onPageChange($event)" hidePageSize
			aria-label="Select page of periodic elements">
		</mat-paginator>
	</div>
</div>