<div class="content">
	<div class="content-produits">
		<h1>Liste des produits :</h1>
		@if (isLoading) {
		<ng-container>
			<mat-spinner></mat-spinner>
		</ng-container>
		}

		<mat-grid-list cols="2">
			@for (produit of produits;track $index) {
			<mat-grid-tile>
				<app-produits [produit]="produit" />
			</mat-grid-tile>
			}
		</mat-grid-list>
		<mat-paginator [length]="totalItems" [pageSize]="pageSize" (page)="onPageChange($event)" hidePageSize
			aria-label="Select page of periodic elements">
		</mat-paginator>
	</div>
</div>