@if(produit){
<fieldset>
	<legend>Produit</legend>
	<form (ngSubmit)="submitForm()">
		@if (errors && getObjectKeys(errors).length) {
		<div class="error">
			<ul>
				@for (property of getObjectKeys(errors); track property) {
				<li>{{property}}: {{errors[property]}}</li>
				}
			</ul>
		</div>
		}
		<div>
			<mat-form-field appearance="fill">
				<mat-label for="libelle">Libelle :</mat-label>
				<input matInput type="text" id="libelle" name="libelle" [(ngModel)]="formData.libelle" required>
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label for="prix_unitaire">Prix unitaire :</mat-label>
				<input matInput min="1" type="number" step="0.01" id="prix_unitaire" name="prix_unitaire"
					[(ngModel)]="formData.prix_unitaire" required>
			</mat-form-field>
			<mat-form-field>
				<mat-label for="sexe">Sexe</mat-label>
				<mat-select [(value)]="formData.sexe" (selectionChange)="onSexeSelectionChange($event)" name="sexe" id="sexe"
					required>
					@for (sexe of sexes; track sexe) {
					<mat-option [value]="sexe">{{sexe}}</mat-option>
					}
				</mat-select>
			</mat-form-field>
			<mat-form-field>
				<mat-label for="taille">Taille</mat-label>
				<mat-select [(value)]="formData.taille" (selectionChange)="onTailleSelectionChange($event)" name="sexe"
					id="sexe" required>
					@for (taille of tailles; track taille) {
					<mat-option [value]="taille">{{taille}}</mat-option>
					}
				</mat-select>
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label for="image_url">URL de l'Image :</mat-label>
				<input matInput type="text" id="image_url" name="image_url" [(ngModel)]="formData.image_url" required>
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label for="description">Description :</mat-label>
				<input matInput type="text" id="description" name="description" [(ngModel)]="formData.description">
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label for="categorie_id">ID de la catégorie :</mat-label>
				<input matInput min="1" type="number" id="categorie_id" name="categorie_id" [(ngModel)]="formData.categorie_id"
					required>
			</mat-form-field>
		</div>

		<div>
			<button mat-button color="secondary" type="submit" [disabled]="loading">Submit</button>
			@if (loading) {
			<span>Loading...</span>
			}
		</div>

	</form>
</fieldset>

<fieldset>
	<legend>Stock</legend>

	<form class="actions" (ngSubmit)="ajouterStock()">
		<mat-form-field>
			<mat-label for="couleurs">Couleurs</mat-label>
			<mat-select [(value)]="formDataStock.couleur" (selectionChange)="onCouleursSelectionChange($event)"
				name="couleurs" id="couleurs" required>
				@for (couleur of couleurs; track couleur) {
				<mat-option [value]="couleur">{{couleur}}</mat-option>
				}
			</mat-select>
		</mat-form-field>
		<button mat-button color="primary" type="submit" matTooltip="Basic" aria-label="Ajouter une couleur">
			Ajouter une couleur
		</button>
	</form>

	<table mat-table [dataSource]="produit.stock" class="mat-elevation-z8">

		<ng-container matColumnDef="couleur">
			<th mat-header-cell *matHeaderCellDef> Couleur</th>
			<td mat-cell *matCellDef="let element"> {{element.couleur}} </td>
		</ng-container>

		<ng-container matColumnDef="quantite">
			<th mat-header-cell *matHeaderCellDef> Quantite </th>
			<td mat-cell *matCellDef="let element"> {{element.quantite}} </td>
		</ng-container>

		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef>Actions</th>
			<td mat-cell *matCellDef="let element">
				<button mat-icon-button (click)="supprimerStock(element)">
					<mat-icon color="warn">delete</mat-icon>
				</button>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
</fieldset>
}