<form (ngSubmit)="submitForm()">
  @if (errors && getObjectKeys(errors).length) {
  <div class="error">
    <ul>
      @for (property of getObjectKeys(errors); track property) {
      <li>{{property}}: {{errors[property]}}</li>
      }
    </ul>
  </div>
  }
  <div class="container card-container">
    <div class="d-flex  align-items-center  justify-content-center">
      <img src="assets/image/logo-blanc-sansbg.png" width="150" height="150" alt="Logo de la Laurich'App">
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <div class="row justify-content-center mb-0">
          <div class="col-sm">
            <p class="text-center phrase">Inscrivez-vous et commencez votre shopping</p>
          </div>
        </div>
        <div class="row mb-1 mt-3">
          <div class="col-sm form-group">
            <label for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" placeholder="example@gmail.com"
              [(ngModel)]="formData.email" required>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm form-group">
            <label for="pseudo">Pseudo</label>
            <input class="form-control" id="pseudo" type="text" name="pseudo" placeholder="example"
              [(ngModel)]="formData.pseudo" required />
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-sm form-group">
            <label for="motDePasse">Mot de passe</label>
            <input class="form-control" id="motDePasse" type="password" name="motDePasse" placeholder="**********"
              [(ngModel)]="formData.motDePasse" required />
          </div>
        </div>
        <div class="row justify-content-center mb-6">
          <div class="col-10  d-flex  align-items-center  justify-content-center">
            <button type="submit" class="btn btn-gold-submit"
              [disabled]="loading || (formData.email.length == 0 || formData.motDePasse.length == 0 || formData.pseudo.length == 0)">Submit</button>
          </div>
          <div class="text-center mt-2">
            @if (loading) {
            <div class="spinner-border" role="status">
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</form>