<button [disabled]="quantite == 1" mat-icon-button matTooltip="Basic" aria-label="Décrémenter la quantité"
	(click)="decrement()">
	<mat-icon>remove</mat-icon>
</button>
{{quantite}}
<button [disabled]="!canIncrement()" mat-icon-button matTooltip="Basic" aria-label="Incrémenter la quantité"
	(click)="increment()">
	<mat-icon>add</mat-icon>
</button>
<button [disabled]="!canUpdate()" mat-icon-button matTooltip="Basic" aria-label="Modifier un produit au panier"
	(click)="modifierPanier()">
	<mat-icon>shopping_cart_checkout</mat-icon>
</button>