<button mat-button color="primary" routerLink="/gestionnaire/utilisateurs" matTooltip="Basic"
	aria-label="Voir les utilisateurs">
	Voir les utilisateurs
</button>
<button mat-button color="primary" routerLink="/gestionnaire/categories" matTooltip="Basic"
	aria-label="Voir les catégories">
	Voir les catégories
</button>
<button mat-button color="primary" routerLink="/gestionnaire/produits" matTooltip="Basic"
	aria-label="Voir les produits">
	Voir les produits
</button>
<button mat-button color="primary" routerLink="/gestionnaire/fournisseurs" matTooltip="Basic"
	aria-label="Voir les fournisseurs">
	Voir les fournisseurs
</button>
<button mat-button color="primary" routerLink="/gestionnaire/bon_de_commandes" matTooltip="Basic"
	aria-label="Voir les bon de commandes">
	Voir les bon de commandes
</button>
<router-outlet></router-outlet>