<mat-toolbar class="navbar">

  <div class="content-menu">
    <div class="content-accueil">
      <a mat-raised-button color="primary" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/']">Accueil</a>
    </div>

    <div class="content-connexion">
      <ng-container *ngrxLet="auth$; let a; let e = error; let c = complete">
        @if (isAdmin(a)) {
        <a mat-raised-button color="primary" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="['/gestionnaire']">Espace administrateur</a>
        }
        @if (!a.isLoggedIn) {
        <a mat-raised-button color="primary" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="['/connexion']">Connexion</a>
        <a mat-raised-button color="primary" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="['/inscription']">Inscription</a>
        }
        @if (a.isLoggedIn) {
        <button mat-raised-button color="primary" (click)="disconnect()">
          Déconnexion
        </button>
        }
        <div class="user-logged">
          @if (a.isLoggedIn) {
          <button mat-icon-button [routerLink]="'/profile'">
            <mat-icon aria-hidden="false">account_circle</mat-icon>
          </button>
          }
        </div>
      </ng-container>
      <ng-container *ngrxLet="panier$; let p; let e = error; let c = complete">
        <div class="shopping-cart">
          <button mat-icon-button [routerLink]="'/panier'" matBadge="{{p.produits.length}}" matBadgePosition="below"
            matBadgeOverlap matBadgeHidden="{{p.produits.length == 0}}" matBadgeColor="accent">
            <mat-icon aria-hidden="false">shopping_cart</mat-icon>
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</mat-toolbar>
<router-outlet />